html, body {
    height: 100%; /* Tagab, et keha ja HTML võtavad kogu kõrguse */
    margin: 0;
    display: flex;
    justify-content: center; /* Keskel horisontaalselt */
    align-items: center; /* Keskel vertikaalselt */
    font-family: Arial, Helvetica, sans-serif;}


#kast {
    margin-top: 17%;
    display: flex;
    flex-direction: column; /* Muudab paigutuse vertikaalseks */
    align-items: center; /* Keskele joondamine horisontaalselt */
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 3px solid black;
}


#kast #vastus {
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 35px;
    height: 85px;
    margin: 9px 10px 2px 10px;
}

#kast #nupud button{
    border-radius: 10px;
    font-size: 70px;
    width: 73px;
}

#kast #nupud button:hover{
    background-color:lightgray;
}

#kast #nupud #submit_button{
    color:yellow;
}